Content Publishing System (with TikTok).json
{
  "name": "7. POV Publishing System (+TIKTOK)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        360,
        360
      ],
      "id": "435e1875-c5ed-44e4-b243-dd437ef401c4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"instagram\": {\n    \"description\": \"...\"\n  },\n  \"youtube\": {\n    \"title\": \"...\",\n    \"description\": \"...\"\n  },\n  \"facebook\": {\n    \"title\": \"...\",\n    \"description\": \"...\"\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        940,
        560
      ],
      "id": "d92d5a61-c63e-4ea1-a87a-9948752287a0",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "url": "={{ $json['Final Render Video'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1220,
        180
      ],
      "id": "7400e7b1-bd1e-4568-b67a-52ee50980c2b",
      "name": "Download Video"
    },
    {
      "parameters": {
        "content": "## Youtube Agent\n",
        "height": 220,
        "width": 540,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1420,
        40
      ],
      "id": "0475fdf0-650d-4f6b-91be-51d4c89c3fc0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Instagram Agent",
        "height": 240,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1420,
        280
      ],
      "id": "2c43036a-5bcf-4077-8c6e-094808709246",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Facebook Agent\n",
        "height": 240,
        "width": 1220,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1140,
        560
      ],
      "id": "ef95c279-41fc-4c40-9e4e-41570c8a8620",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "{insert instagram account id}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "video_url",
                "value": "={{ $json[\"Final Render Video\"] }}"
              },
              {
                "name": "caption",
                "value": "={{ $('Publishing Agent').item.json.output.instagram.description }}"
              },
              {
                "name": "media_type",
                "value": "REELS"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1440,
        360
      ],
      "id": "74f41eb8-d732-4331-a57e-b9c10d8be337",
      "name": "Create Container",
      "credentials": {
        "facebookGraphApi": {
          "id": "Hnlm3zQOzWLxlbwH",
          "name": "Instagram New"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "={insert instagram account id}",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1800,
        360
      ],
      "id": "2485c77c-77b0-476d-b76b-f6f1d1f8f6ce",
      "name": "Instagram POST",
      "credentials": {
        "facebookGraphApi": {
          "id": "vBYfs9LRR8t8BNVY",
          "name": "Lumivaux Instagram"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI specialized in crafting high-impact, viral titles and descriptions specifically optimized for Instagram Reels, YouTube Shorts, and Facebook Reels. You will receive a JSON input containing two fields:\n- **Name of Story**: {{$json.Name}}\n- **Description**: {{ $json['Concept (Detailed Scenario)'] }}\n\nYour task is to generate platform-specific content tailored to the unique characteristics and audience engagement styles of each platform:\n\n### 1. Instagram Reels:\n- **Description**: Brief, visually descriptive, incorporating relevant hashtags (max 5 hashtags) and a strong call-to-action for liking and sharing.\n\n### 2. YouTube Shorts:\n- **Title (under 50 chars)**: Direct, suspenseful, or surprising—focused heavily on clickability.\n- **Description**: Concise and compelling, including relevant keywords, and encouraging viewers to subscribe, like, and comment.\n\n### 3. Facebook Reels:\n- **Title (under 50 chars)**: Emotionally engaging, relatable, designed to instantly resonate.\n- **Description**: Engaging short description with an emotional hook, designed to encourage reactions, comments, and shares.\n\n---\n\nOutput your response strictly in valid JSON format as follows:\n\n```json\n{\n  \"instagram\": {\n    \"description\": \"...\"\n  },\n  \"youtube\": {\n    \"title\": \"...\",\n    \"description\": \"...\"\n  },\n  \"facebook\": {\n    \"title\": \"...\",\n    \"description\": \"...\"\n  }\n}\n```\n",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        760,
        360
      ],
      "id": "ed48d6f7-92f6-4a96-9ecc-1d3a3f8404e8",
      "name": "Publishing Agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c087ebbf-22a5-45f4-82d5-ddabfd921889",
              "leftValue": "={{ $json.fields.Youtube }}",
              "rightValue": "Uploaded",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "301baec8-c772-4042-bdc1-7d2d99f07043",
              "leftValue": "={{ $json.fields.Instagram }}",
              "rightValue": "Uploaded",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "c7469347-06e8-4163-a280-d85ed47d167b",
              "leftValue": "={{ $json.fields.Facebook }}",
              "rightValue": "Uploaded",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "a216f3c7-76f0-4bdb-89c6-e9e0dd389ce5",
              "leftValue": "={{ $json.fields.TikTok }}",
              "rightValue": "Uploaded",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2460,
        620
      ],
      "id": "6a00ee74-81a2-4106-8367-aa54de04c971",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appJ3fDAoRBETWkA2",
          "mode": "list",
          "cachedResultName": "POV Content ",
          "cachedResultUrl": "https://airtable.com/appJ3fDAoRBETWkA2"
        },
        "table": {
          "__rl": true,
          "value": "tblsK6gpL3sX3Xk3I",
          "mode": "list",
          "cachedResultName": "POV Main",
          "cachedResultUrl": "https://airtable.com/appJ3fDAoRBETWkA2/tblsK6gpL3sX3Xk3I"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Download Video').item.json.id }}",
            "Youtube": "Uploaded"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Concept (Detailed Scenario)",
              "displayName": "Concept (Detailed Scenario)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Theme",
              "displayName": "Theme",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Tone/Mood",
              "displayName": "Tone/Mood",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "POV Scenes",
              "displayName": "POV Scenes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "POV Images",
              "displayName": "POV Images",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "POV VIdeos",
              "displayName": "POV VIdeos",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "POV SFX",
              "displayName": "POV SFX",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Final Render Video",
              "displayName": "Final Render Video",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Scenes Generated",
                  "value": "Scenes Generated"
                },
                {
                  "name": "Image Generated",
                  "value": "Image Generated"
                },
                {
                  "name": "Videos Generated",
                  "value": "Videos Generated"
                },
                {
                  "name": "SFX Generated",
                  "value": "SFX Generated"
                },
                {
                  "name": "Materials Uploaded",
                  "value": "Materials Uploaded"
                },
                {
                  "name": "Ready To Upload",
                  "value": "Ready To Upload"
                },
                {
                  "name": "Completed",
                  "value": "Completed"
                },
                {
                  "name": "",
                  "value": ""
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Instagram",
              "displayName": "Instagram",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Uploaded",
                  "value": "Uploaded"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Facebook",
              "displayName": "Facebook",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Uploaded",
                  "value": "Uploaded"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Youtube",
              "displayName": "Youtube",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Uploaded",
                  "value": "Uploaded"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created time",
              "displayName": "created time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "last modified time",
              "displayName": "last modified time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "record id",
              "displayName": "record id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1760,
        100
      ],
      "id": "beab31d4-438f-4d4d-9f7e-82ffa2dac0ce",
      "name": "Youtube Posted",
      "credentials": {
        "airtableTokenApi": {
          "id": "HlCvwpeDhqxCdX9c",
          "name": "Airtable Access 1"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appJ3fDAoRBETWkA2",
          "mode": "list",
          "cachedResultName": "POV Content ",
          "cachedResultUrl": "https://airtable.com/appJ3fDAoRBETWkA2"
        },
        "table": {
          "__rl": true,
          "value": "tblsK6gpL3sX3Xk3I",
          "mode": "list",
          "cachedResultName": "POV Main",
          "cachedResultUrl": "https://airtable.com/appJ3fDAoRBETWkA2/tblsK6gpL3sX3Xk3I"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Download Video').item.json.id }}",
            "Instagram": "Uploaded"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Concept (Detailed Scenario)",
              "displayName": "Concept (Detailed Scenario)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Theme",
              "displayName": "Theme",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Tone/Mood",
              "displayName": "Tone/Mood",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "POV Scenes",
              "displayName": "POV Scenes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "POV Images",
              "displayName": "POV Images",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "POV VIdeos",
              "displayName": "POV VIdeos",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "POV SFX",
              "displayName": "POV SFX",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Final Render Video",
              "displayName": "Final Render Video",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Scenes Generated",
                  "value": "Scenes Generated"
                },
                {
                  "name": "Image Generated",
                  "value": "Image Generated"
                },
                {
                  "name": "Videos Generated",
                  "value": "Videos Generated"
                },
                {
                  "name": "SFX Generated",
                  "value": "SFX Generated"
                },
                {
                  "name": "Materials Uploaded",
                  "value": "Materials Uploaded"
                },
                {
                  "name": "Ready To Upload",
                  "value": "Ready To Upload"
                },
                {
                  "name": "Completed",
                  "value": "Completed"
                },
                {
                  "name": "",
                  "value": ""
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Instagram",
              "displayName": "Instagram",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Uploaded",
                  "value": "Uploaded"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Facebook",
              "displayName": "Facebook",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Uploaded",
                  "value": "Uploaded"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Youtube",
              "displayName": "Youtube",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Uploaded",
                  "value": "Uploaded"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "created time",
              "displayName": "created time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "last modified time",
              "displayName": "last modified time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "record id",
              "displayName": "record id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1980,
        360
      ],
      "id": "262be2c6-6cad-4518-89a4-48d9abc760a8",
      "name": "Instagram Posted",
      "credentials": {
        "airtableTokenApi": {
          "id": "HlCvwpeDhqxCdX9c",
          "name": "Airtable Access 1"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appJ3fDAoRBETWkA2",
          "mode": "list",
          "cachedResultName": "POV Content ",
          "cachedResultUrl": "https://airtable.com/appJ3fDAoRBETWkA2"
        },
        "table": {
          "__rl": true,
          "value": "tblsK6gpL3sX3Xk3I",
          "mode": "list",
          "cachedResultName": "POV Main",
          "cachedResultUrl": "https://airtable.com/appJ3fDAoRBETWkA2/tblsK6gpL3sX3Xk3I"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Download Video').item.json.id }}",
            "Facebook": "Uploaded"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Concept (Detailed Scenario)",
              "displayName": "Concept (Detailed Scenario)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Theme",
              "displayName": "Theme",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Tone/Mood",
              "displayName": "Tone/Mood",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "POV Scenes",
              "displayName": "POV Scenes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "POV Images",
              "displayName": "POV Images",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "POV VIdeos",
              "displayName": "POV VIdeos",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "POV SFX",
              "displayName": "POV SFX",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Final Render Video",
              "displayName": "Final Render Video",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Scenes Generated",
                  "value": "Scenes Generated"
                },
                {
                  "name": "Image Generated",
                  "value": "Image Generated"
                },
                {
                  "name": "Videos Generated",
                  "value": "Videos Generated"
                },
                {
                  "name": "SFX Generated",
                  "value": "SFX Generated"
                },
                {
                  "name": "Materials Uploaded",
                  "value": "Materials Uploaded"
                },
                {
                  "name": "Ready To Upload",
                  "value": "Ready To Upload"
                },
                {
                  "name": "Completed",
                  "value": "Completed"
                },
                {
                  "name": "",
                  "value": ""
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Instagram",
              "displayName": "Instagram",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Uploaded",
                  "value": "Uploaded"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Facebook",
              "displayName": "Facebook",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Uploaded",
                  "value": "Uploaded"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Youtube",
              "displayName": "Youtube",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Uploaded",
                  "value": "Uploaded"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "created time",
              "displayName": "created time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "last modified time",
              "displayName": "last modified time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "record id",
              "displayName": "record id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2160,
        620
      ],
      "id": "8173d8e8-df2d-4a24-bb25-12d835055bbf",
      "name": "Facebook Posted",
      "credentials": {
        "airtableTokenApi": {
          "id": "HlCvwpeDhqxCdX9c",
          "name": "Airtable Access 1"
        }
      }
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "appJ3fDAoRBETWkA2",
          "mode": "list",
          "cachedResultName": "POV Content ",
          "cachedResultUrl": "https://airtable.com/appJ3fDAoRBETWkA2"
        },
        "table": {
          "__rl": true,
          "value": "tblsK6gpL3sX3Xk3I",
          "mode": "list",
          "cachedResultName": "POV Main",
          "cachedResultUrl": "https://airtable.com/appJ3fDAoRBETWkA2/tblsK6gpL3sX3Xk3I"
        },
        "id": "={{ $('Search Record').item.json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1040,
        180
      ],
      "id": "99be6b02-ac3b-4d5c-945b-c6ad805e144e",
      "name": "Get Video",
      "credentials": {
        "airtableTokenApi": {
          "id": "HlCvwpeDhqxCdX9c",
          "name": "Airtable Access 1"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appJ3fDAoRBETWkA2",
          "mode": "list",
          "cachedResultName": "POV Content ",
          "cachedResultUrl": "https://airtable.com/appJ3fDAoRBETWkA2"
        },
        "table": {
          "__rl": true,
          "value": "tblsK6gpL3sX3Xk3I",
          "mode": "list",
          "cachedResultName": "POV Main",
          "cachedResultUrl": "https://airtable.com/appJ3fDAoRBETWkA2/tblsK6gpL3sX3Xk3I"
        },
        "filterByFormula": "{Status} = \"Ready To Upload\"",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        560,
        360
      ],
      "id": "e9031237-46d8-4a38-9996-25627c9bbfca",
      "name": "Search Record",
      "credentials": {
        "airtableTokenApi": {
          "id": "HlCvwpeDhqxCdX9c",
          "name": "Airtable Access 1"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Publishing Agent').item.json.output.youtube.title }}",
        "regionCode": "SG",
        "categoryId": "1",
        "options": {
          "description": "={{ $('Publishing Agent').item.json.output.youtube.description }}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1520,
        100
      ],
      "id": "7378d07a-9fd6-4398-9772-051a8b73299b",
      "name": "Youtube Post",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "INhltBeDLkn5aZ0Z",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appJ3fDAoRBETWkA2",
          "mode": "list",
          "cachedResultName": "POV Content ",
          "cachedResultUrl": "https://airtable.com/appJ3fDAoRBETWkA2"
        },
        "table": {
          "__rl": true,
          "value": "tblsK6gpL3sX3Xk3I",
          "mode": "list",
          "cachedResultName": "POV Main",
          "cachedResultUrl": "https://airtable.com/appJ3fDAoRBETWkA2/tblsK6gpL3sX3Xk3I"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Status": "Completed"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Final Video",
              "displayName": "Final Video",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Materials Uploaded",
                  "value": "Materials Uploaded"
                },
                {
                  "name": "Ready To Upload",
                  "value": "Ready To Upload"
                },
                {
                  "name": "Completed",
                  "value": "Completed"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Instagram",
              "displayName": "Instagram",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Uploaded",
                  "value": "Uploaded"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Facebook",
              "displayName": "Facebook",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Uploaded",
                  "value": "Uploaded"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Youtube",
              "displayName": "Youtube",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Uploaded",
                  "value": "Uploaded"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "created time",
              "displayName": "created time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "last modified time",
              "displayName": "last modified time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2700,
        600
      ],
      "id": "276e2b94-46d8-4bc7-9681-e1cc21a898a4",
      "name": "Video Published",
      "credentials": {
        "airtableTokenApi": {
          "id": "HlCvwpeDhqxCdX9c",
          "name": "Airtable Access 1"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v22.0/{{ $('Start Upload').item.json.video_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "status"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        620
      ],
      "id": "20552cba-bab4-4e48-a62c-3c17f575b8ac",
      "name": "Check Status",
      "credentials": {
        "facebookGraphApi": {
          "id": "qJ4oysKvcjQPQOuO",
          "name": "Facebook Graph (Extended May 25)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/dhwdlspyq/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "=data"
            },
            {
              "name": "upload_preset",
              "value": "n8n_upload"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1220,
        620
      ],
      "id": "5effb174-eb3c-463e-a004-a8e200b0d459",
      "name": "Upload To Cloudinary",
      "credentials": {
        "httpHeaderAuth": {
          "id": "jRDusgPWYlKZodhd",
          "name": "Runway"
        },
        "httpBasicAuth": {
          "id": "ZGYLJUR6PAnlFnLj",
          "name": "Cloudinary"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "118335334551685/video_reels",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "upload_phase",
                "value": "start"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1420,
        620
      ],
      "id": "e05a92ca-71a5-4347-80b9-3fe676e9bc90",
      "name": "Start Upload",
      "credentials": {
        "facebookGraphApi": {
          "id": "qJ4oysKvcjQPQOuO",
          "name": "Facebook Graph (Extended May 25)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.upload_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "file_url",
              "value": "={{ $('Upload To Cloudinary').item.json.url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        620
      ],
      "id": "1bf350ab-37f9-4a1f-bf29-fee66a24521b",
      "name": "Upload to Rupload",
      "credentials": {
        "httpHeaderAuth": {
          "id": "jRDusgPWYlKZodhd",
          "name": "Runway"
        },
        "facebookGraphApi": {
          "id": "qJ4oysKvcjQPQOuO",
          "name": "Facebook Graph (Extended May 25)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/{insert fb page id}/video_reels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "video_id",
              "value": "={{ $('Start Upload').item.json.video_id }}"
            },
            {
              "name": "upload_phase",
              "value": "FINISH"
            },
            {
              "name": "video_state",
              "value": "PUBLISHED"
            },
            {
              "name": "description",
              "value": "={{ $('Publishing Agent').item.json.output.facebook.description }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        620
      ],
      "id": "039c0dd5-4d6b-4dca-8893-8d77b13ede59",
      "name": "Upload Reel to FB",
      "credentials": {
        "facebookGraphApi": {
          "id": "qJ4oysKvcjQPQOuO",
          "name": "Facebook Graph (Extended May 25)"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Download Video').item.json['Final Render Video'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        940
      ],
      "id": "1e9ac18b-64c6-489c-b1f5-9ff90d58f25c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.upload-post.com/api/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json.output }}"
            },
            {
              "name": "user",
              "value": "tester123"
            },
            {
              "name": "platform[]",
              "value": "tiktok"
            },
            {
              "parameterType": "formBinaryData",
              "name": "video",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1660,
        940
      ],
      "id": "d10b2f6c-ddd3-4271-b5ec-2faa9fb2649b",
      "name": "TikTok Post (NEW)",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "RScYZfzdT1tlOftE",
          "name": "Upload-Post"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Create a viral TikTok description in less than 50 words.  ",
        "options": {
          "systemMessage": "=You are a TikTok description Writer. \n\nYour Task is to create viral worthy tiktok post description based on the following inforation about the video: \n- Name: {{ $json.Name }}\n- Details: {{ $json['Concept (Detailed Scenario)'] }}\n- Theme: {{ $json['Tone/Mood'] }}\n- Tone: {{ $json['Tone/Mood'] }}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1180,
        940
      ],
      "id": "37068b6b-6532-41a2-a615-c6dc0732c815",
      "name": "TikTok Description Writer"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1220,
        1120
      ],
      "id": "81f5b8fc-4091-4648-83e9-23c54221c1a7",
      "name": "gpt 4o mini",
      "credentials": {
        "openRouterApi": {
          "id": "y1vjMptfuqUZLu87",
          "name": "Openrouter Key 1"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appJ3fDAoRBETWkA2",
          "mode": "list",
          "cachedResultName": "POV Content ",
          "cachedResultUrl": "https://airtable.com/appJ3fDAoRBETWkA2"
        },
        "table": {
          "__rl": true,
          "value": "tblsK6gpL3sX3Xk3I",
          "mode": "list",
          "cachedResultName": "POV Main",
          "cachedResultUrl": "https://airtable.com/appJ3fDAoRBETWkA2/tblsK6gpL3sX3Xk3I"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TikTok": "Uploaded",
            "id": "={{ $('Download Video').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Concept (Detailed Scenario)",
              "displayName": "Concept (Detailed Scenario)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Theme",
              "displayName": "Theme",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Tone/Mood",
              "displayName": "Tone/Mood",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "POV Scenes",
              "displayName": "POV Scenes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "POV Images",
              "displayName": "POV Images",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "POV VIdeos",
              "displayName": "POV VIdeos",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "POV SFX",
              "displayName": "POV SFX",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Final Render Video",
              "displayName": "Final Render Video",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Scenes Generated",
                  "value": "Scenes Generated"
                },
                {
                  "name": "Image Generated",
                  "value": "Image Generated"
                },
                {
                  "name": "Videos Generated",
                  "value": "Videos Generated"
                },
                {
                  "name": "SFX Generated",
                  "value": "SFX Generated"
                },
                {
                  "name": "Materials Uploaded",
                  "value": "Materials Uploaded"
                },
                {
                  "name": "Ready To Upload",
                  "value": "Ready To Upload"
                },
                {
                  "name": "Completed",
                  "value": "Completed"
                },
                {
                  "name": "",
                  "value": ""
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Instagram",
              "displayName": "Instagram",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Uploaded",
                  "value": "Uploaded"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Facebook",
              "displayName": "Facebook",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Uploaded",
                  "value": "Uploaded"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Youtube",
              "displayName": "Youtube",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Uploaded",
                  "value": "Uploaded"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "TikTok",
              "displayName": "TikTok",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Uploaded",
                  "value": "Uploaded"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created time",
              "displayName": "created time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "last modified time",
              "displayName": "last modified time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "record id",
              "displayName": "record id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1860,
        940
      ],
      "id": "8003789b-5e5d-4a65-8434-e8e42073eb50",
      "name": "Update Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "HlCvwpeDhqxCdX9c",
          "name": "Airtable Access 1"
        }
      }
    },
    {
      "parameters": {
        "content": "## TikTok Automation",
        "height": 420,
        "width": 980,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1140,
        840
      ],
      "id": "5c71016e-a7b2-4506-a14c-effca6b9b9bc",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## 🚀 Ultimate Reels Publishing Agent  \n**Get Millions of Views Across All Platforms — And Turn Them Into Income!**\n\n- 🎯 One-click scheduling across **Instagram Reels**, **YouTube Shorts**, **Facebook Reels** and **TikTOk**\n- 💬 Auto-generate **viral captions**, **engaging descriptions**, and **platform-optimized hashtags**  \n- 💸 No need for costly APIs — **100% budget-friendly**  \n- 🧠 Smart content engine tailored for **maximum reach & engagement**\n\n**Grow faster. Post smarter. Earn more.**\n\n(dainami ai workflows)",
        "height": 1300,
        "width": 2660,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "id": "ab6c3dcb-cf82-4e73-8a8b-ea3065eb177b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "model": "qwen/qwen-2.5-72b-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        740,
        560
      ],
      "id": "f55c77de-ba3f-4bfa-91da-98a047c3f3f6",
      "name": "Qwen2.5",
      "credentials": {
        "openRouterApi": {
          "id": "y1vjMptfuqUZLu87",
          "name": "Openrouter Key 1"
        }
      }
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1620,
        360
      ],
      "id": "66aa346d-f159-4c96-8427-ae76c186915e",
      "name": "Wait",
      "webhookId": "d3016a86-f0c3-4edc-bd14-ebb7d987d62f"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Publishing Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Create Container",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload To Cloudinary",
            "type": "main",
            "index": 0
          },
          {
            "node": "TikTok Description Writer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Youtube Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Container": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram POST": {
      "main": [
        [
          {
            "node": "Instagram Posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publishing Agent": {
      "main": [
        [
          {
            "node": "Get Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Video Published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Youtube Posted": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Posted": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Posted": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Record": {
      "main": [
        [
          {
            "node": "Publishing Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Youtube Post": {
      "main": [
        [
          {
            "node": "Youtube Posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Facebook Posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload To Cloudinary": {
      "main": [
        [
          {
            "node": "Start Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Upload": {
      "main": [
        [
          {
            "node": "Upload to Rupload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Rupload": {
      "main": [
        [
          {
            "node": "Upload Reel to FB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Reel to FB": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "TikTok Post (NEW)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TikTok Post (NEW)": {
      "main": [
        [
          {
            "node": "Update Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TikTok Description Writer": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt 4o mini": {
      "ai_languageModel": [
        [
          {
            "node": "TikTok Description Writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Update Airtable": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qwen2.5": {
      "ai_languageModel": [
        [
          {
            "node": "Publishing Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Instagram POST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5e5dab26-ecb7-43d5-82d2-45da5d827ad9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d8c459f4ebcadd20c3258ade09582fe0f02de933363f6184259e0c9a36784090"
  },
  "id": "2zv11SddliS8rhYn",
  "tags": [
    {
      "createdAt": "2025-03-24T09:10:16.506Z",
      "updatedAt": "2025-03-24T09:10:16.506Z",
      "id": "RqZ45jZ8VcYyMMZW",
      "name": "W4: POV Content Machine"
    },
    {
      "createdAt": "2025-04-21T05:46:14.494Z",
      "updatedAt": "2025-04-22T04:14:41.638Z",
      "id": "3wXrNzc1uwRSnltq",
      "name": "W7. Tiktok Social Media"
    }
  ]
}