elevenlabs_sms_agent.json
{
  "name": "elevenlabs-sms",
  "nodes": [
    {
      "parameters": {
        "from": "+1XXXXXXXXXX",
        "to": "+1YYYYYYYYYY",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        800,
        220
      ],
      "id": "36f85e93-6999-45a9-8978-2f97573faf33",
      "name": "Twilio",
      "credentials": {
        "twilioApi": {
          "id": "your-twilio-credentials-id",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-path-id",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        300,
        20
      ],
      "id": "b2b514a5-5234-4a0f-815e-0cb32325b27d",
      "name": "Webhook",
      "webhookId": "webhook-path-id"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "your-google-sheet-id",
          "mode": "list",
          "cachedResultName": "AI SMS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/your-google-sheet-id/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "holding",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/your-google-sheet-id/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Message": "={{ $('Webhook').item.json.body.Body }}",
            "From Number": "='{{ $('Webhook').item.json.body.From }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "From Number",
              "displayName": "From Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        540,
        20
      ],
      "id": "aabd7ffb-0210-4a6b-86e9-72ca719ecb3a",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "your-google-sheets-credentials-id",
          "name": "Google Account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        660,
        20
      ],
      "id": "2fe5baad-20d7-4cc1-8156-65f597f20dbf",
      "name": "Wait",
      "webhookId": "wait-webhook-id"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "your-google-sheet-id",
          "mode": "list",
          "cachedResultName": "AI SMS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/your-google-sheet-id/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "holding",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/your-google-sheet-id/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "From Number",
              "lookupValue": "={{ $('Webhook').item.json.body.From }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        780,
        20
      ],
      "id": "962f889d-cf0d-4d55-a892-808d8aa69289",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "your-google-sheets-credentials-id",
          "name": "Google Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract all messages\nconst messages = items.map(item => item.json[\"Message\"]);\nconst combinedMessage = messages.join(\" \");\n\n// Get start row and number of rows to delete\nconst startRow = items[0].json[\"row_number\"];\nconst numRowsToDelete = items.length;\n\nreturn [\n  {\n    json: {\n      combinedMessage,\n      startRow,\n      numRowsToDelete\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        20
      ],
      "id": "2859c199-63fa-4259-a96f-41a9b9b5ca92",
      "name": "Code2"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "your-google-sheet-id",
          "mode": "list",
          "cachedResultName": "AI SMS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/your-google-sheet-id/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "holding",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/your-google-sheet-id/edit#gid=0"
        },
        "startIndex": "={{ $json.startRow }}",
        "numberToDelete": "={{ $json.numRowsToDelete }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        400,
        220
      ],
      "id": "17f18c23-c64e-4a03-aa59-3c688f02930a",
      "name": "Google Sheets5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "your-google-sheets-credentials-id",
          "name": "Google Account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to search the web",
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer your-perplexity-api-key"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JSON', `{\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Be precise and concise.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{web_search_question}\"\n    }\n  ],\n  \"search_domain_filter\": [\n    \"example.com\",\n    \"support.example.com/hc/en-us\"\n  ]\n}\n`, 'json') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        740,
        380
      ],
      "id": "be4a6def-83af-41b1-91ef-2ee428d88c30",
      "name": "web_search"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Code2').item.json.combinedMessage }}",
        "options": {
          "systemMessage": "=You are a helpful assistant\nyou will get messages on rescheduling times\nSimply agree and respond back\nKeep your response to a maximum of 160 characters"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        520,
        220
      ],
      "id": "0b67cd1f-5617-4f73-99fe-a57af84f1914",
      "name": "SMS AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        480,
        380
      ],
      "id": "2c157e1f-92d5-43eb-a849-42ed719a33f5",
      "name": "GPT-4.1",
      "credentials": {
        "openAiApi": {
          "id": "your-openai-credentials-id",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "n8n_chat_histories",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $json.body.From }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={\"type\": \"human\", \"content\": \"{{ $json.body.Body }}\", \"additional_kwargs\": {}, \"response_metadata\": {}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        420,
        20
      ],
      "id": "894dfaae-3c93-424e-81bf-ce5a54a71616",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "your-supabase-credentials-id",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.From }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        600,
        460
      ],
      "id": "01ca426d-b4ae-400e-9993-a83268bc7eee",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "your-postgres-credentials-id",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "n8n_chat_histories",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $('Webhook').item.json.body.From }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={\"type\": \"ai\", \"content\": \"{{ $json.body }}\", \"additional_kwargs\": {}, \"response_metadata\": {}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        920,
        220
      ],
      "id": "bcca84a8-de9e-4e62-88d7-79854ab03855",
      "name": "Supabase1",
      "credentials": {
        "supabaseApi": {
          "id": "your-supabase-credentials-id",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Google Sheets5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets5": {
      "main": [
        [
          {
            "node": "SMS AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "web_search": {
      "ai_tool": [
        [
          {
            "node": "SMS AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SMS AI Agent": {
      "main": [
        [
          {
            "node": "Twilio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4.1": {
      "ai_languageModel": [
        [
          {
            "node": "SMS AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        []
      ]
    },
    "Twilio": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "your-version-id",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "your-instance-id"
  },
  "id": "your-workflow-id",
  "tags": [
    {
      "createdAt": "2025-03-27T09:59:28.159Z",
      "updatedAt": "2025-03-27T09:59:28.159Z",
      "id": "your-tag-id",
      "name": "youtube"
    }
  ]
}