Instantly AI Inbox Manager.json
{
    "name": "Instantly AI Inbox Manager",
    "flow": [
        {
            "id": null,
            "module": "placeholder:Placeholder",
            "metadata": {
                "designer": {
                    "x": 2381,
                    "y": 138
                }
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [
                [
                    {
                        "id": 20,
                        "module": "util:SetVariables",
                        "version": 1,
                        "parameters": {},
                        "mapper": {
                            "variables": [
                                {
                                    "name": "leadReply",
                                    "value": "I need more information"
                                },
                                {
                                    "name": "firstName",
                                    "value": "Saad"
                                }
                            ],
                            "scope": "roundtrip"
                        },
                        "metadata": {
                            "designer": {
                                "x": 0,
                                "y": 150,
                                "name": "Watch Instantly's Notifications",
                                "messages": [
                                    {
                                        "category": "link",
                                        "severity": "warning",
                                        "message": "The module is not connected to the data flow."
                                    }
                                ]
                            },
                            "restore": {
                                "expect": {
                                    "variables": {
                                        "items": [
                                            null,
                                            null
                                        ]
                                    },
                                    "scope": {
                                        "label": "One cycle"
                                    }
                                }
                            },
                            "expect": [
                                {
                                    "name": "variables",
                                    "type": "array",
                                    "label": "Variables",
                                    "spec": [
                                        {
                                            "name": "name",
                                            "label": "Variable name",
                                            "type": "text",
                                            "required": true
                                        },
                                        {
                                            "name": "value",
                                            "label": "Variable value",
                                            "type": "any"
                                        }
                                    ]
                                },
                                {
                                    "name": "scope",
                                    "type": "select",
                                    "label": "Variable lifetime",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "roundtrip",
                                            "execution"
                                        ]
                                    }
                                }
                            ],
                            "interface": [
                                {
                                    "name": "leadReply",
                                    "label": "leadReply",
                                    "type": "any"
                                },
                                {
                                    "name": "firstName",
                                    "label": "firstName",
                                    "type": "any"
                                }
                            ]
                        }
                    },
                    {
                        "id": 9,
                        "module": "anthropic-claude:createAMessage",
                        "version": 1,
                        "parameters": {
                            "__IMTCONN__": 3638733
                        },
                        "mapper": {
                            "model": "claude-3-5-sonnet-20241022",
                            "max_tokens": "3050",
                            "messages": [
                                {
                                    "role": "user",
                                    "content": [
                                        {
                                            "type": "text",
                                            "text": "You are tasked with categorizing a lead's reply to a sales or marketing communication. Your goal is to determine the lead's level of interest based solely on their response. You will categorize the reply into one of three categories:\n\n1. Lead interested\n2. Lead wants more info\n\nHere is the lead's reply:\n\n<lead_reply>{{20.leadReply}}\n\n</lead_reply>\n\nPlease carefully read through the lead's reply and categorize it based on the content and tone of the message. Consider the following guidelines:\n\n- \"Lead interested\" indicates a positive response, showing clear interest in the product or service.\n- \"Lead wants more info\" suggests the lead is not ready to commit but is open to learning more.\n\nAfter analyzing the reply, provide your categorization in the following format:\n\n<categorization>\nCategory: [Insert chosen category here]\n\nHere are examples of responses for each category:\n\n1. Lead interested:\n\"That sounds great! I'd like to move forward with this. Can we schedule a call?\"\n\n2. Lead wants more info:\n\"This seems interesting, but I need more details. Could you send me some additional information about pricing and features?\"\n\nRemember to use only the two categories provided. Do not create new categories or leave the reply uncategorized. If the reply is ambiguous, output \"error\".\n\nOutput the result only with no reasoning in the correct JSON only."
                                        }
                                    ]
                                }
                            ],
                            "metadata": {},
                            "temperature": "1"
                        },
                        "metadata": {
                            "designer": {
                                "x": 300,
                                "y": 150,
                                "name": "Interest?"
                            },
                            "restore": {
                                "parameters": {
                                    "__IMTCONN__": {
                                        "label": "My Anthropic Claude connection",
                                        "data": {
                                            "scoped": "true",
                                            "connection": "anthropic-claude"
                                        }
                                    }
                                },
                                "expect": {
                                    "model": {
                                        "mode": "chose",
                                        "label": "claude-3-5-sonnet-20241022"
                                    },
                                    "messages": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "role": {
                                                    "mode": "chose",
                                                    "label": "User"
                                                },
                                                "content": {
                                                    "mode": "chose",
                                                    "items": [
                                                        {
                                                            "type": {
                                                                "mode": "chose",
                                                                "label": "Text"
                                                            }
                                                        }
                                                    ]
                                                }
                                            }
                                        ]
                                    },
                                    "stop_sequences": {
                                        "mode": "chose"
                                    },
                                    "additionalParameters": {
                                        "mode": "chose"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:anthropic-claude",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "model",
                                    "type": "select",
                                    "label": "Model",
                                    "required": true
                                },
                                {
                                    "name": "max_tokens",
                                    "type": "uinteger",
                                    "label": "Max Tokens",
                                    "required": true
                                },
                                {
                                    "name": "messages",
                                    "type": "array",
                                    "label": "Messages",
                                    "required": true,
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "role",
                                                "type": "select",
                                                "label": "Role",
                                                "options": [
                                                    {
                                                        "label": "User",
                                                        "value": "user",
                                                        "nested": [
                                                            {
                                                                "name": "content",
                                                                "spec": {
                                                                    "spec": [
                                                                        {
                                                                            "help": "For models that support image content blocks (vision), see the [Anthropic model comparison table](https://docs.anthropic.com/en/docs/about-claude/models#model-comparison-table).",
                                                                            "name": "type",
                                                                            "type": "select",
                                                                            "label": "Type",
                                                                            "options": [
                                                                                {
                                                                                    "label": "Text",
                                                                                    "value": "text",
                                                                                    "nested": [
                                                                                        {
                                                                                            "help": "Content of the message on behalf of the selected **Role** .",
                                                                                            "name": "text",
                                                                                            "type": "text",
                                                                                            "label": "Text",
                                                                                            "required": true
                                                                                        }
                                                                                    ]
                                                                                },
                                                                                {
                                                                                    "label": "Image",
                                                                                    "value": "image",
                                                                                    "nested": [
                                                                                        {
                                                                                            "name": "source",
                                                                                            "spec": [
                                                                                                {
                                                                                                    "help": "File name, including the extension, for example, `image.jpg`.",
                                                                                                    "name": "filename",
                                                                                                    "type": "filename",
                                                                                                    "label": "Filename",
                                                                                                    "required": true,
                                                                                                    "semantic": "file:name",
                                                                                                    "extension": [
                                                                                                        "jpeg",
                                                                                                        "jpg",
                                                                                                        "png",
                                                                                                        "gif",
                                                                                                        "webp"
                                                                                                    ]
                                                                                                },
                                                                                                {
                                                                                                    "help": "Binary data of the image. For example, you can retrieve the binary data of your image using the **HTTP: Get a file** module.",
                                                                                                    "name": "data",
                                                                                                    "type": "buffer",
                                                                                                    "label": "Data",
                                                                                                    "required": true,
                                                                                                    "semantic": "file:data"
                                                                                                }
                                                                                            ],
                                                                                            "type": "collection",
                                                                                            "label": "Source",
                                                                                            "required": true
                                                                                        }
                                                                                    ]
                                                                                },
                                                                                {
                                                                                    "label": "PDF document",
                                                                                    "value": "document",
                                                                                    "nested": [
                                                                                        {
                                                                                            "type": "html",
                                                                                            "label": "<div style='color: #69502E; background: #F9ECD7; border-radius: 5px; padding: 12px 16px 12px 16px; font-size: 12px;'>PDF support is currently available on Claude 3.5 Sonnet models:<br><b>claude-3-5-sonnet-20241022</b><br><b>claude-3-5-sonnet-20240620</b></div>"
                                                                                        },
                                                                                        {
                                                                                            "name": "pdfFileName",
                                                                                            "type": "filename",
                                                                                            "label": "Filename",
                                                                                            "required": true,
                                                                                            "semantic": "file:name",
                                                                                            "extension": [
                                                                                                "pdf"
                                                                                            ]
                                                                                        },
                                                                                        {
                                                                                            "name": "pdfFileData",
                                                                                            "type": "buffer",
                                                                                            "label": "Data",
                                                                                            "required": true,
                                                                                            "semantic": "file:data"
                                                                                        }
                                                                                    ]
                                                                                },
                                                                                {
                                                                                    "label": "Tool result",
                                                                                    "value": "tool_result",
                                                                                    "nested": [
                                                                                        {
                                                                                            "name": "tool_use_id",
                                                                                            "type": "text",
                                                                                            "label": "Tool Use ID",
                                                                                            "required": true
                                                                                        },
                                                                                        {
                                                                                            "name": "content",
                                                                                            "type": "text",
                                                                                            "label": "Content",
                                                                                            "required": true
                                                                                        }
                                                                                    ]
                                                                                }
                                                                            ],
                                                                            "required": true
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Content"
                                                                },
                                                                "type": "array",
                                                                "label": "Content",
                                                                "labels": {
                                                                    "add": "Add content"
                                                                },
                                                                "required": true
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Assistant",
                                                        "value": "assistant",
                                                        "nested": [
                                                            {
                                                                "help": "If the request ends with an assistant turn, then the response content will continue directly from that last turn.",
                                                                "name": "content",
                                                                "type": "text",
                                                                "label": "Content",
                                                                "required": true
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Tool Assistant",
                                                        "value": "tool_assistant",
                                                        "nested": [
                                                            {
                                                                "name": "content",
                                                                "spec": {
                                                                    "spec": [
                                                                        {
                                                                            "help": "You can send image content blocks starting with Claude 3 models.",
                                                                            "name": "type",
                                                                            "type": "select",
                                                                            "label": "Type",
                                                                            "options": [
                                                                                {
                                                                                    "label": "Text",
                                                                                    "value": "text",
                                                                                    "nested": [
                                                                                        {
                                                                                            "help": "Content of the message on behalf of the selected **Role** .",
                                                                                            "name": "text",
                                                                                            "type": "text",
                                                                                            "label": "Text",
                                                                                            "required": true
                                                                                        }
                                                                                    ]
                                                                                },
                                                                                {
                                                                                    "label": "Tool Use",
                                                                                    "value": "tool_use",
                                                                                    "nested": [
                                                                                        {
                                                                                            "name": "id",
                                                                                            "type": "text",
                                                                                            "label": "Tool Use ID",
                                                                                            "required": true
                                                                                        },
                                                                                        {
                                                                                            "name": "name",
                                                                                            "type": "text",
                                                                                            "label": "Tool Name",
                                                                                            "required": true
                                                                                        },
                                                                                        {
                                                                                            "name": "input",
                                                                                            "type": "any",
                                                                                            "label": "Input",
                                                                                            "required": true
                                                                                        }
                                                                                    ]
                                                                                }
                                                                            ],
                                                                            "required": true
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Content"
                                                                },
                                                                "type": "array",
                                                                "label": "Content",
                                                                "labels": {
                                                                    "add": "Add content"
                                                                },
                                                                "required": true
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "required": true
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Message",
                                        "name": "value"
                                    }
                                },
                                {
                                    "name": "system",
                                    "type": "text",
                                    "label": "System Prompt"
                                },
                                {
                                    "name": "metadata",
                                    "type": "collection",
                                    "label": "Metadata",
                                    "spec": [
                                        {
                                            "name": "user_id",
                                            "type": "text",
                                            "label": "User ID"
                                        }
                                    ]
                                },
                                {
                                    "name": "stop_sequences",
                                    "type": "array",
                                    "label": "Stop Sequences",
                                    "spec": {
                                        "type": "text",
                                        "label": "Stop Sequence",
                                        "name": "value"
                                    }
                                },
                                {
                                    "name": "temperature",
                                    "type": "number",
                                    "label": "Temperature",
                                    "validate": {
                                        "max": 1,
                                        "min": 0
                                    }
                                },
                                {
                                    "name": "top_p",
                                    "type": "number",
                                    "label": "Top P",
                                    "validate": {
                                        "max": 1
                                    }
                                },
                                {
                                    "name": "top_k",
                                    "type": "uinteger",
                                    "label": "Top K"
                                },
                                {
                                    "name": "additionalParameters",
                                    "type": "array",
                                    "label": "Other Input Parameters",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Parameter Name",
                                                "required": true
                                            },
                                            {
                                                "name": "type",
                                                "type": "select",
                                                "label": "Input Type",
                                                "options": [
                                                    {
                                                        "label": "Text",
                                                        "value": "text",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Parameter Value"
                                                            }
                                                        ],
                                                        "default": true
                                                    },
                                                    {
                                                        "label": "Number",
                                                        "value": "number",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "number",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Boolean",
                                                        "value": "boolean",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "boolean",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Date",
                                                        "value": "date",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "date",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Tools",
                                                        "value": "tools",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "spec": {
                                                                    "type": "text",
                                                                    "label": "Parameter Value"
                                                                },
                                                                "type": "array",
                                                                "label": "Parameter Values",
                                                                "labels": {
                                                                    "add": "Add parameter value"
                                                                }
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Any",
                                                        "value": "any",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "any",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Input Parameter",
                                        "name": "value"
                                    }
                                }
                            ]
                        }
                    },
                    {
                        "id": 10,
                        "module": "json:ParseJSON",
                        "version": 1,
                        "parameters": {
                            "type": ""
                        },
                        "mapper": {
                            "json": "{{9.textResponse}}"
                        },
                        "metadata": {
                            "designer": {
                                "x": 600,
                                "y": 150,
                                "name": "Parse \"Interest\""
                            },
                            "restore": {
                                "parameters": {
                                    "type": {
                                        "label": "Choose a data structure"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "type",
                                    "type": "udt",
                                    "label": "Data structure"
                                }
                            ],
                            "expect": [
                                {
                                    "name": "json",
                                    "type": "text",
                                    "label": "JSON string",
                                    "required": true
                                }
                            ]
                        }
                    },
                    {
                        "id": 11,
                        "module": "builtin:BasicRouter",
                        "version": 1,
                        "mapper": null,
                        "metadata": {
                            "designer": {
                                "x": 900,
                                "y": 150
                            }
                        },
                        "routes": [
                            {
                                "flow": [
                                    {
                                        "id": 14,
                                        "module": "util:FunctionSleep",
                                        "version": 1,
                                        "parameters": {},
                                        "filter": {
                                            "name": "Lead interested",
                                            "conditions": [
                                                [
                                                    {
                                                        "a": "{{10.category}}",
                                                        "o": "text:equal",
                                                        "b": "Lead interested"
                                                    }
                                                ]
                                            ]
                                        },
                                        "mapper": {
                                            "duration": "1"
                                        },
                                        "metadata": {
                                            "designer": {
                                                "x": 1200,
                                                "y": 0
                                            },
                                            "restore": {},
                                            "expect": [
                                                {
                                                    "name": "duration",
                                                    "type": "uinteger",
                                                    "label": "Delay",
                                                    "validate": {
                                                        "min": 1,
                                                        "max": 300
                                                    },
                                                    "required": true
                                                }
                                            ]
                                        }
                                    },
                                    {
                                        "id": 21,
                                        "module": "anthropic-claude:createAMessage",
                                        "version": 1,
                                        "parameters": {
                                            "__IMTCONN__": 3638733
                                        },
                                        "mapper": {
                                            "model": "claude-3-5-sonnet-20241022",
                                            "max_tokens": "6090",
                                            "messages": [
                                                {
                                                    "role": "user",
                                                    "content": [
                                                        {
                                                            "type": "text",
                                                            "text": "You are a conversational, concise writing assistant. Fill in the email template below using the data provided. Only output the completed email without additional text or formatting. \n\nTemplate\n\nThanks for getting back to me {{20.firstName}}\nI’d love to set up a time to talk.\n\nAre you available tomorow or {{formatDate(addDays(now; 2); \"dddd\")}}? Which day is better for you? Thanks for the time.\n\nSaad"
                                                        }
                                                    ]
                                                }
                                            ],
                                            "metadata": {},
                                            "temperature": "1"
                                        },
                                        "metadata": {
                                            "designer": {
                                                "x": 1500,
                                                "y": 0,
                                                "name": "Lead Interested"
                                            },
                                            "restore": {
                                                "parameters": {
                                                    "__IMTCONN__": {
                                                        "label": "My Anthropic Claude connection",
                                                        "data": {
                                                            "scoped": "true",
                                                            "connection": "anthropic-claude"
                                                        }
                                                    }
                                                },
                                                "expect": {
                                                    "model": {
                                                        "mode": "chose",
                                                        "label": "claude-3-5-sonnet-20241022"
                                                    },
                                                    "messages": {
                                                        "mode": "chose",
                                                        "items": [
                                                            {
                                                                "role": {
                                                                    "mode": "chose",
                                                                    "label": "User"
                                                                },
                                                                "content": {
                                                                    "mode": "chose",
                                                                    "items": [
                                                                        {
                                                                            "type": {
                                                                                "mode": "chose",
                                                                                "label": "Text"
                                                                            }
                                                                        }
                                                                    ]
                                                                }
                                                            }
                                                        ]
                                                    },
                                                    "stop_sequences": {
                                                        "mode": "chose"
                                                    },
                                                    "additionalParameters": {
                                                        "mode": "chose"
                                                    }
                                                }
                                            },
                                            "parameters": [
                                                {
                                                    "name": "__IMTCONN__",
                                                    "type": "account:anthropic-claude",
                                                    "label": "Connection",
                                                    "required": true
                                                }
                                            ],
                                            "expect": [
                                                {
                                                    "name": "model",
                                                    "type": "select",
                                                    "label": "Model",
                                                    "required": true
                                                },
                                                {
                                                    "name": "max_tokens",
                                                    "type": "uinteger",
                                                    "label": "Max Tokens",
                                                    "required": true
                                                },
                                                {
                                                    "name": "messages",
                                                    "type": "array",
                                                    "label": "Messages",
                                                    "required": true,
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "role",
                                                                "type": "select",
                                                                "label": "Role",
                                                                "options": [
                                                                    {
                                                                        "label": "User",
                                                                        "value": "user",
                                                                        "nested": [
                                                                            {
                                                                                "name": "content",
                                                                                "spec": {
                                                                                    "spec": [
                                                                                        {
                                                                                            "help": "For models that support image content blocks (vision), see the [Anthropic model comparison table](https://docs.anthropic.com/en/docs/about-claude/models#model-comparison-table).",
                                                                                            "name": "type",
                                                                                            "type": "select",
                                                                                            "label": "Type",
                                                                                            "options": [
                                                                                                {
                                                                                                    "label": "Text",
                                                                                                    "value": "text",
                                                                                                    "nested": [
                                                                                                        {
                                                                                                            "help": "Content of the message on behalf of the selected **Role** .",
                                                                                                            "name": "text",
                                                                                                            "type": "text",
                                                                                                            "label": "Text",
                                                                                                            "required": true
                                                                                                        }
                                                                                                    ]
                                                                                                },
                                                                                                {
                                                                                                    "label": "Image",
                                                                                                    "value": "image",
                                                                                                    "nested": [
                                                                                                        {
                                                                                                            "name": "source",
                                                                                                            "spec": [
                                                                                                                {
                                                                                                                    "help": "File name, including the extension, for example, `image.jpg`.",
                                                                                                                    "name": "filename",
                                                                                                                    "type": "filename",
                                                                                                                    "label": "Filename",
                                                                                                                    "required": true,
                                                                                                                    "semantic": "file:name",
                                                                                                                    "extension": [
                                                                                                                        "jpeg",
                                                                                                                        "jpg",
                                                                                                                        "png",
                                                                                                                        "gif",
                                                                                                                        "webp"
                                                                                                                    ]
                                                                                                                },
                                                                                                                {
                                                                                                                    "help": "Binary data of the image. For example, you can retrieve the binary data of your image using the **HTTP: Get a file** module.",
                                                                                                                    "name": "data",
                                                                                                                    "type": "buffer",
                                                                                                                    "label": "Data",
                                                                                                                    "required": true,
                                                                                                                    "semantic": "file:data"
                                                                                                                }
                                                                                                            ],
                                                                                                            "type": "collection",
                                                                                                            "label": "Source",
                                                                                                            "required": true
                                                                                                        }
                                                                                                    ]
                                                                                                },
                                                                                                {
                                                                                                    "label": "PDF document",
                                                                                                    "value": "document",
                                                                                                    "nested": [
                                                                                                        {
                                                                                                            "type": "html",
                                                                                                            "label": "<div style='color: #69502E; background: #F9ECD7; border-radius: 5px; padding: 12px 16px 12px 16px; font-size: 12px;'>PDF support is currently available on Claude 3.5 Sonnet models:<br><b>claude-3-5-sonnet-20241022</b><br><b>claude-3-5-sonnet-20240620</b></div>"
                                                                                                        },
                                                                                                        {
                                                                                                            "name": "pdfFileName",
                                                                                                            "type": "filename",
                                                                                                            "label": "Filename",
                                                                                                            "required": true,
                                                                                                            "semantic": "file:name",
                                                                                                            "extension": [
                                                                                                                "pdf"
                                                                                                            ]
                                                                                                        },
                                                                                                        {
                                                                                                            "name": "pdfFileData",
                                                                                                            "type": "buffer",
                                                                                                            "label": "Data",
                                                                                                            "required": true,
                                                                                                            "semantic": "file:data"
                                                                                                        }
                                                                                                    ]
                                                                                                },
                                                                                                {
                                                                                                    "label": "Tool result",
                                                                                                    "value": "tool_result",
                                                                                                    "nested": [
                                                                                                        {
                                                                                                            "name": "tool_use_id",
                                                                                                            "type": "text",
                                                                                                            "label": "Tool Use ID",
                                                                                                            "required": true
                                                                                                        },
                                                                                                        {
                                                                                                            "name": "content",
                                                                                                            "type": "text",
                                                                                                            "label": "Content",
                                                                                                            "required": true
                                                                                                        }
                                                                                                    ]
                                                                                                }
                                                                                            ],
                                                                                            "required": true
                                                                                        }
                                                                                    ],
                                                                                    "type": "collection",
                                                                                    "label": "Content"
                                                                                },
                                                                                "type": "array",
                                                                                "label": "Content",
                                                                                "labels": {
                                                                                    "add": "Add content"
                                                                                },
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Assistant",
                                                                        "value": "assistant",
                                                                        "nested": [
                                                                            {
                                                                                "help": "If the request ends with an assistant turn, then the response content will continue directly from that last turn.",
                                                                                "name": "content",
                                                                                "type": "text",
                                                                                "label": "Content",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Tool Assistant",
                                                                        "value": "tool_assistant",
                                                                        "nested": [
                                                                            {
                                                                                "name": "content",
                                                                                "spec": {
                                                                                    "spec": [
                                                                                        {
                                                                                            "help": "You can send image content blocks starting with Claude 3 models.",
                                                                                            "name": "type",
                                                                                            "type": "select",
                                                                                            "label": "Type",
                                                                                            "options": [
                                                                                                {
                                                                                                    "label": "Text",
                                                                                                    "value": "text",
                                                                                                    "nested": [
                                                                                                        {
                                                                                                            "help": "Content of the message on behalf of the selected **Role** .",
                                                                                                            "name": "text",
                                                                                                            "type": "text",
                                                                                                            "label": "Text",
                                                                                                            "required": true
                                                                                                        }
                                                                                                    ]
                                                                                                },
                                                                                                {
                                                                                                    "label": "Tool Use",
                                                                                                    "value": "tool_use",
                                                                                                    "nested": [
                                                                                                        {
                                                                                                            "name": "id",
                                                                                                            "type": "text",
                                                                                                            "label": "Tool Use ID",
                                                                                                            "required": true
                                                                                                        },
                                                                                                        {
                                                                                                            "name": "name",
                                                                                                            "type": "text",
                                                                                                            "label": "Tool Name",
                                                                                                            "required": true
                                                                                                        },
                                                                                                        {
                                                                                                            "name": "input",
                                                                                                            "type": "any",
                                                                                                            "label": "Input",
                                                                                                            "required": true
                                                                                                        }
                                                                                                    ]
                                                                                                }
                                                                                            ],
                                                                                            "required": true
                                                                                        }
                                                                                    ],
                                                                                    "type": "collection",
                                                                                    "label": "Content"
                                                                                },
                                                                                "type": "array",
                                                                                "label": "Content",
                                                                                "labels": {
                                                                                    "add": "Add content"
                                                                                },
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Message",
                                                        "name": "value"
                                                    }
                                                },
                                                {
                                                    "name": "system",
                                                    "type": "text",
                                                    "label": "System Prompt"
                                                },
                                                {
                                                    "name": "metadata",
                                                    "type": "collection",
                                                    "label": "Metadata",
                                                    "spec": [
                                                        {
                                                            "name": "user_id",
                                                            "type": "text",
                                                            "label": "User ID"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "name": "stop_sequences",
                                                    "type": "array",
                                                    "label": "Stop Sequences",
                                                    "spec": {
                                                        "type": "text",
                                                        "label": "Stop Sequence",
                                                        "name": "value"
                                                    }
                                                },
                                                {
                                                    "name": "temperature",
                                                    "type": "number",
                                                    "label": "Temperature",
                                                    "validate": {
                                                        "max": 1,
                                                        "min": 0
                                                    }
                                                },
                                                {
                                                    "name": "top_p",
                                                    "type": "number",
                                                    "label": "Top P",
                                                    "validate": {
                                                        "max": 1
                                                    }
                                                },
                                                {
                                                    "name": "top_k",
                                                    "type": "uinteger",
                                                    "label": "Top K"
                                                },
                                                {
                                                    "name": "additionalParameters",
                                                    "type": "array",
                                                    "label": "Other Input Parameters",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Parameter Name",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "type",
                                                                "type": "select",
                                                                "label": "Input Type",
                                                                "options": [
                                                                    {
                                                                        "label": "Text",
                                                                        "value": "text",
                                                                        "nested": [
                                                                            {
                                                                                "name": "value",
                                                                                "type": "text",
                                                                                "label": "Parameter Value"
                                                                            }
                                                                        ],
                                                                        "default": true
                                                                    },
                                                                    {
                                                                        "label": "Number",
                                                                        "value": "number",
                                                                        "nested": [
                                                                            {
                                                                                "name": "value",
                                                                                "type": "number",
                                                                                "label": "Parameter Value"
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Boolean",
                                                                        "value": "boolean",
                                                                        "nested": [
                                                                            {
                                                                                "name": "value",
                                                                                "type": "boolean",
                                                                                "label": "Parameter Value"
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Date",
                                                                        "value": "date",
                                                                        "nested": [
                                                                            {
                                                                                "name": "value",
                                                                                "type": "date",
                                                                                "label": "Parameter Value"
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Tools",
                                                                        "value": "tools",
                                                                        "nested": [
                                                                            {
                                                                                "name": "value",
                                                                                "spec": {
                                                                                    "type": "text",
                                                                                    "label": "Parameter Value"
                                                                                },
                                                                                "type": "array",
                                                                                "label": "Parameter Values",
                                                                                "labels": {
                                                                                    "add": "Add parameter value"
                                                                                }
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Any",
                                                                        "value": "any",
                                                                        "nested": [
                                                                            {
                                                                                "name": "value",
                                                                                "type": "any",
                                                                                "label": "Parameter Value"
                                                                            }
                                                                        ]
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Input Parameter",
                                                        "name": "value"
                                                    }
                                                }
                                            ]
                                        }
                                    },
                                    {
                                        "id": 22,
                                        "module": "http:ActionSendData",
                                        "version": 3,
                                        "parameters": {
                                            "handleErrors": true,
                                            "useNewZLibDeCompress": true
                                        },
                                        "mapper": {
                                            "url": "https://api.instantly.ai/api/v1/unibox/emails/reply?api_key=API_KEY'",
                                            "serializeUrl": false,
                                            "method": "get",
                                            "headers": [
                                                {
                                                    "name": "Content-Type",
                                                    "value": "application/json"
                                                }
                                            ],
                                            "qs": [],
                                            "bodyType": "raw",
                                            "parseResponse": false,
                                            "authUser": "",
                                            "authPass": "",
                                            "timeout": "",
                                            "shareCookies": false,
                                            "ca": "",
                                            "rejectUnauthorized": true,
                                            "followRedirect": true,
                                            "useQuerystring": false,
                                            "gzip": true,
                                            "useMtls": false,
                                            "contentType": "application/json",
                                            "data": "{\n  \"reply_to_uuid\": \"00000000-0000-0000-0000-000000000001\",\n  \"subject\": \"Re: Subject\",\n  \"from\": \"sender@example.com\",\n  \"to\": \"recipient@example.com\",\n  \"body\": \"Reply body\",\n}",
                                            "followAllRedirects": false
                                        },
                                        "metadata": {
                                            "designer": {
                                                "x": 1800,
                                                "y": 0,
                                                "name": "Reply to prospect"
                                            },
                                            "restore": {
                                                "expect": {
                                                    "method": {
                                                        "mode": "chose",
                                                        "label": "GET"
                                                    },
                                                    "headers": {
                                                        "mode": "chose",
                                                        "items": [
                                                            null
                                                        ]
                                                    },
                                                    "qs": {
                                                        "mode": "chose"
                                                    },
                                                    "bodyType": {
                                                        "label": "Raw"
                                                    },
                                                    "contentType": {
                                                        "label": "JSON (application/json)"
                                                    }
                                                }
                                            },
                                            "parameters": [
                                                {
                                                    "name": "handleErrors",
                                                    "type": "boolean",
                                                    "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                                    "required": true
                                                },
                                                {
                                                    "name": "useNewZLibDeCompress",
                                                    "type": "hidden"
                                                }
                                            ],
                                            "expect": [
                                                {
                                                    "name": "url",
                                                    "type": "url",
                                                    "label": "URL",
                                                    "required": true
                                                },
                                                {
                                                    "name": "serializeUrl",
                                                    "type": "boolean",
                                                    "label": "Serialize URL",
                                                    "required": true
                                                },
                                                {
                                                    "name": "method",
                                                    "type": "select",
                                                    "label": "Method",
                                                    "required": true,
                                                    "validate": {
                                                        "enum": [
                                                            "get",
                                                            "head",
                                                            "post",
                                                            "put",
                                                            "patch",
                                                            "delete",
                                                            "options"
                                                        ]
                                                    }
                                                },
                                                {
                                                    "name": "headers",
                                                    "type": "array",
                                                    "label": "Headers",
                                                    "spec": [
                                                        {
                                                            "name": "name",
                                                            "label": "Name",
                                                            "type": "text",
                                                            "required": true
                                                        },
                                                        {
                                                            "name": "value",
                                                            "label": "Value",
                                                            "type": "text"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "name": "qs",
                                                    "type": "array",
                                                    "label": "Query String",
                                                    "spec": [
                                                        {
                                                            "name": "name",
                                                            "label": "Name",
                                                            "type": "text",
                                                            "required": true
                                                        },
                                                        {
                                                            "name": "value",
                                                            "label": "Value",
                                                            "type": "text"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "name": "bodyType",
                                                    "type": "select",
                                                    "label": "Body type",
                                                    "validate": {
                                                        "enum": [
                                                            "raw",
                                                            "x_www_form_urlencoded",
                                                            "multipart_form_data"
                                                        ]
                                                    }
                                                },
                                                {
                                                    "name": "parseResponse",
                                                    "type": "boolean",
                                                    "label": "Parse response",
                                                    "required": true
                                                },
                                                {
                                                    "name": "authUser",
                                                    "type": "text",
                                                    "label": "User name"
                                                },
                                                {
                                                    "name": "authPass",
                                                    "type": "password",
                                                    "label": "Password"
                                                },
                                                {
                                                    "name": "timeout",
                                                    "type": "uinteger",
                                                    "label": "Timeout",
                                                    "validate": {
                                                        "max": 300,
                                                        "min": 1
                                                    }
                                                },
                                                {
                                                    "name": "shareCookies",
                                                    "type": "boolean",
                                                    "label": "Share cookies with other HTTP modules",
                                                    "required": true
                                                },
                                                {
                                                    "name": "ca",
                                                    "type": "cert",
                                                    "label": "Self-signed certificate"
                                                },
                                                {
                                                    "name": "rejectUnauthorized",
                                                    "type": "boolean",
                                                    "label": "Reject connections that are using unverified (self-signed) certificates",
                                                    "required": true
                                                },
                                                {
                                                    "name": "followRedirect",
                                                    "type": "boolean",
                                                    "label": "Follow redirect",
                                                    "required": true
                                                },
                                                {
                                                    "name": "useQuerystring",
                                                    "type": "boolean",
                                                    "label": "Disable serialization of multiple same query string keys as arrays",
                                                    "required": true
                                                },
                                                {
                                                    "name": "gzip",
                                                    "type": "boolean",
                                                    "label": "Request compressed content",
                                                    "required": true
                                                },
                                                {
                                                    "name": "useMtls",
                                                    "type": "boolean",
                                                    "label": "Use Mutual TLS",
                                                    "required": true
                                                },
                                                {
                                                    "name": "contentType",
                                                    "type": "select",
                                                    "label": "Content type",
                                                    "validate": {
                                                        "enum": [
                                                            "text/plain",
                                                            "application/json",
                                                            "application/xml",
                                                            "text/xml",
                                                            "text/html",
                                                            "custom"
                                                        ]
                                                    }
                                                },
                                                {
                                                    "name": "data",
                                                    "type": "buffer",
                                                    "label": "Request content"
                                                },
                                                {
                                                    "name": "followAllRedirects",
                                                    "type": "boolean",
                                                    "label": "Follow all redirect",
                                                    "required": true
                                                }
                                            ]
                                        }
                                    }
                                ]
                            },
                            {
                                "flow": [
                                    {
                                        "id": 13,
                                        "module": "util:FunctionSleep",
                                        "version": 1,
                                        "parameters": {},
                                        "filter": {
                                            "name": "Lead wants more info",
                                            "conditions": [
                                                [
                                                    {
                                                        "a": "{{10.category}}",
                                                        "o": "text:equal",
                                                        "b": "Lead wants more info"
                                                    }
                                                ]
                                            ]
                                        },
                                        "mapper": {
                                            "duration": "1"
                                        },
                                        "metadata": {
                                            "designer": {
                                                "x": 1200,
                                                "y": 300
                                            },
                                            "restore": {},
                                            "expect": [
                                                {
                                                    "name": "duration",
                                                    "type": "uinteger",
                                                    "label": "Delay",
                                                    "validate": {
                                                        "min": 1,
                                                        "max": 300
                                                    },
                                                    "required": true
                                                }
                                            ]
                                        }
                                    },
                                    {
                                        "id": 18,
                                        "module": "anthropic-claude:createAMessage",
                                        "version": 1,
                                        "parameters": {
                                            "__IMTCONN__": 3638733
                                        },
                                        "mapper": {
                                            "model": "claude-3-5-sonnet-20241022",
                                            "max_tokens": "6090",
                                            "messages": [
                                                {
                                                    "role": "user",
                                                    "content": [
                                                        {
                                                            "type": "text",
                                                            "text": "You are a conversational, concise writing assistant. Fill in the email template below using the data provided.  Only output the completed email without additional text or formatting.\n\nTemplate\n\nThanks for getting back to me {{20.firstName}},\n\nSure I hear you, it’s not something I can just write a wall of text about - nor can I do it justice here. I'm more than happy to explain everything on a demo call 🙂\n\nHow about this - we schedule a demo. You can join, and if after 10-15 mins it doesn’t seem like a fit we’ll call it quits. That way the worst case is a loss of 10 min, but best case is loads of new appointments?\n\nThanks for the time\n-Saad"
                                                        }
                                                    ]
                                                }
                                            ],
                                            "metadata": {},
                                            "temperature": "1"
                                        },
                                        "metadata": {
                                            "designer": {
                                                "x": 1500,
                                                "y": 300,
                                                "name": "Lead wants more Info"
                                            },
                                            "restore": {
                                                "parameters": {
                                                    "__IMTCONN__": {
                                                        "label": "My Anthropic Claude connection",
                                                        "data": {
                                                            "scoped": "true",
                                                            "connection": "anthropic-claude"
                                                        }
                                                    }
                                                },
                                                "expect": {
                                                    "model": {
                                                        "mode": "chose",
                                                        "label": "claude-3-5-sonnet-20241022"
                                                    },
                                                    "messages": {
                                                        "mode": "chose",
                                                        "items": [
                                                            {
                                                                "role": {
                                                                    "mode": "chose",
                                                                    "label": "User"
                                                                },
                                                                "content": {
                                                                    "mode": "chose",
                                                                    "items": [
                                                                        {
                                                                            "type": {
                                                                                "mode": "chose",
                                                                                "label": "Text"
                                                                            }
                                                                        }
                                                                    ]
                                                                }
                                                            }
                                                        ]
                                                    },
                                                    "stop_sequences": {
                                                        "mode": "chose"
                                                    },
                                                    "additionalParameters": {
                                                        "mode": "chose"
                                                    }
                                                }
                                            },
                                            "parameters": [
                                                {
                                                    "name": "__IMTCONN__",
                                                    "type": "account:anthropic-claude",
                                                    "label": "Connection",
                                                    "required": true
                                                }
                                            ],
                                            "expect": [
                                                {
                                                    "name": "model",
                                                    "type": "select",
                                                    "label": "Model",
                                                    "required": true
                                                },
                                                {
                                                    "name": "max_tokens",
                                                    "type": "uinteger",
                                                    "label": "Max Tokens",
                                                    "required": true
                                                },
                                                {
                                                    "name": "messages",
                                                    "type": "array",
                                                    "label": "Messages",
                                                    "required": true,
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "role",
                                                                "type": "select",
                                                                "label": "Role",
                                                                "options": [
                                                                    {
                                                                        "label": "User",
                                                                        "value": "user",
                                                                        "nested": [
                                                                            {
                                                                                "name": "content",
                                                                                "spec": {
                                                                                    "spec": [
                                                                                        {
                                                                                            "help": "For models that support image content blocks (vision), see the [Anthropic model comparison table](https://docs.anthropic.com/en/docs/about-claude/models#model-comparison-table).",
                                                                                            "name": "type",
                                                                                            "type": "select",
                                                                                            "label": "Type",
                                                                                            "options": [
                                                                                                {
                                                                                                    "label": "Text",
                                                                                                    "value": "text",
                                                                                                    "nested": [
                                                                                                        {
                                                                                                            "help": "Content of the message on behalf of the selected **Role** .",
                                                                                                            "name": "text",
                                                                                                            "type": "text",
                                                                                                            "label": "Text",
                                                                                                            "required": true
                                                                                                        }
                                                                                                    ]
                                                                                                },
                                                                                                {
                                                                                                    "label": "Image",
                                                                                                    "value": "image",
                                                                                                    "nested": [
                                                                                                        {
                                                                                                            "name": "source",
                                                                                                            "spec": [
                                                                                                                {
                                                                                                                    "help": "File name, including the extension, for example, `image.jpg`.",
                                                                                                                    "name": "filename",
                                                                                                                    "type": "filename",
                                                                                                                    "label": "Filename",
                                                                                                                    "required": true,
                                                                                                                    "semantic": "file:name",
                                                                                                                    "extension": [
                                                                                                                        "jpeg",
                                                                                                                        "jpg",
                                                                                                                        "png",
                                                                                                                        "gif",
                                                                                                                        "webp"
                                                                                                                    ]
                                                                                                                },
                                                                                                                {
                                                                                                                    "help": "Binary data of the image. For example, you can retrieve the binary data of your image using the **HTTP: Get a file** module.",
                                                                                                                    "name": "data",
                                                                                                                    "type": "buffer",
                                                                                                                    "label": "Data",
                                                                                                                    "required": true,
                                                                                                                    "semantic": "file:data"
                                                                                                                }
                                                                                                            ],
                                                                                                            "type": "collection",
                                                                                                            "label": "Source",
                                                                                                            "required": true
                                                                                                        }
                                                                                                    ]
                                                                                                },
                                                                                                {
                                                                                                    "label": "PDF document",
                                                                                                    "value": "document",
                                                                                                    "nested": [
                                                                                                        {
                                                                                                            "type": "html",
                                                                                                            "label": "<div style='color: #69502E; background: #F9ECD7; border-radius: 5px; padding: 12px 16px 12px 16px; font-size: 12px;'>PDF support is currently available on Claude 3.5 Sonnet models:<br><b>claude-3-5-sonnet-20241022</b><br><b>claude-3-5-sonnet-20240620</b></div>"
                                                                                                        },
                                                                                                        {
                                                                                                            "name": "pdfFileName",
                                                                                                            "type": "filename",
                                                                                                            "label": "Filename",
                                                                                                            "required": true,
                                                                                                            "semantic": "file:name",
                                                                                                            "extension": [
                                                                                                                "pdf"
                                                                                                            ]
                                                                                                        },
                                                                                                        {
                                                                                                            "name": "pdfFileData",
                                                                                                            "type": "buffer",
                                                                                                            "label": "Data",
                                                                                                            "required": true,
                                                                                                            "semantic": "file:data"
                                                                                                        }
                                                                                                    ]
                                                                                                },
                                                                                                {
                                                                                                    "label": "Tool result",
                                                                                                    "value": "tool_result",
                                                                                                    "nested": [
                                                                                                        {
                                                                                                            "name": "tool_use_id",
                                                                                                            "type": "text",
                                                                                                            "label": "Tool Use ID",
                                                                                                            "required": true
                                                                                                        },
                                                                                                        {
                                                                                                            "name": "content",
                                                                                                            "type": "text",
                                                                                                            "label": "Content",
                                                                                                            "required": true
                                                                                                        }
                                                                                                    ]
                                                                                                }
                                                                                            ],
                                                                                            "required": true
                                                                                        }
                                                                                    ],
                                                                                    "type": "collection",
                                                                                    "label": "Content"
                                                                                },
                                                                                "type": "array",
                                                                                "label": "Content",
                                                                                "labels": {
                                                                                    "add": "Add content"
                                                                                },
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Assistant",
                                                                        "value": "assistant",
                                                                        "nested": [
                                                                            {
                                                                                "help": "If the request ends with an assistant turn, then the response content will continue directly from that last turn.",
                                                                                "name": "content",
                                                                                "type": "text",
                                                                                "label": "Content",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Tool Assistant",
                                                                        "value": "tool_assistant",
                                                                        "nested": [
                                                                            {
                                                                                "name": "content",
                                                                                "spec": {
                                                                                    "spec": [
                                                                                        {
                                                                                            "help": "You can send image content blocks starting with Claude 3 models.",
                                                                                            "name": "type",
                                                                                            "type": "select",
                                                                                            "label": "Type",
                                                                                            "options": [
                                                                                                {
                                                                                                    "label": "Text",
                                                                                                    "value": "text",
                                                                                                    "nested": [
                                                                                                        {
                                                                                                            "help": "Content of the message on behalf of the selected **Role** .",
                                                                                                            "name": "text",
                                                                                                            "type": "text",
                                                                                                            "label": "Text",
                                                                                                            "required": true
                                                                                                        }
                                                                                                    ]
                                                                                                },
                                                                                                {
                                                                                                    "label": "Tool Use",
                                                                                                    "value": "tool_use",
                                                                                                    "nested": [
                                                                                                        {
                                                                                                            "name": "id",
                                                                                                            "type": "text",
                                                                                                            "label": "Tool Use ID",
                                                                                                            "required": true
                                                                                                        },
                                                                                                        {
                                                                                                            "name": "name",
                                                                                                            "type": "text",
                                                                                                            "label": "Tool Name",
                                                                                                            "required": true
                                                                                                        },
                                                                                                        {
                                                                                                            "name": "input",
                                                                                                            "type": "any",
                                                                                                            "label": "Input",
                                                                                                            "required": true
                                                                                                        }
                                                                                                    ]
                                                                                                }
                                                                                            ],
                                                                                            "required": true
                                                                                        }
                                                                                    ],
                                                                                    "type": "collection",
                                                                                    "label": "Content"
                                                                                },
                                                                                "type": "array",
                                                                                "label": "Content",
                                                                                "labels": {
                                                                                    "add": "Add content"
                                                                                },
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Message",
                                                        "name": "value"
                                                    }
                                                },
                                                {
                                                    "name": "system",
                                                    "type": "text",
                                                    "label": "System Prompt"
                                                },
                                                {
                                                    "name": "metadata",
                                                    "type": "collection",
                                                    "label": "Metadata",
                                                    "spec": [
                                                        {
                                                            "name": "user_id",
                                                            "type": "text",
                                                            "label": "User ID"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "name": "stop_sequences",
                                                    "type": "array",
                                                    "label": "Stop Sequences",
                                                    "spec": {
                                                        "type": "text",
                                                        "label": "Stop Sequence",
                                                        "name": "value"
                                                    }
                                                },
                                                {
                                                    "name": "temperature",
                                                    "type": "number",
                                                    "label": "Temperature",
                                                    "validate": {
                                                        "max": 1,
                                                        "min": 0
                                                    }
                                                },
                                                {
                                                    "name": "top_p",
                                                    "type": "number",
                                                    "label": "Top P",
                                                    "validate": {
                                                        "max": 1
                                                    }
                                                },
                                                {
                                                    "name": "top_k",
                                                    "type": "uinteger",
                                                    "label": "Top K"
                                                },
                                                {
                                                    "name": "additionalParameters",
                                                    "type": "array",
                                                    "label": "Other Input Parameters",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Parameter Name",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "type",
                                                                "type": "select",
                                                                "label": "Input Type",
                                                                "options": [
                                                                    {
                                                                        "label": "Text",
                                                                        "value": "text",
                                                                        "nested": [
                                                                            {
                                                                                "name": "value",
                                                                                "type": "text",
                                                                                "label": "Parameter Value"
                                                                            }
                                                                        ],
                                                                        "default": true
                                                                    },
                                                                    {
                                                                        "label": "Number",
                                                                        "value": "number",
                                                                        "nested": [
                                                                            {
                                                                                "name": "value",
                                                                                "type": "number",
                                                                                "label": "Parameter Value"
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Boolean",
                                                                        "value": "boolean",
                                                                        "nested": [
                                                                            {
                                                                                "name": "value",
                                                                                "type": "boolean",
                                                                                "label": "Parameter Value"
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Date",
                                                                        "value": "date",
                                                                        "nested": [
                                                                            {
                                                                                "name": "value",
                                                                                "type": "date",
                                                                                "label": "Parameter Value"
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Tools",
                                                                        "value": "tools",
                                                                        "nested": [
                                                                            {
                                                                                "name": "value",
                                                                                "spec": {
                                                                                    "type": "text",
                                                                                    "label": "Parameter Value"
                                                                                },
                                                                                "type": "array",
                                                                                "label": "Parameter Values",
                                                                                "labels": {
                                                                                    "add": "Add parameter value"
                                                                                }
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Any",
                                                                        "value": "any",
                                                                        "nested": [
                                                                            {
                                                                                "name": "value",
                                                                                "type": "any",
                                                                                "label": "Parameter Value"
                                                                            }
                                                                        ]
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Input Parameter",
                                                        "name": "value"
                                                    }
                                                }
                                            ]
                                        }
                                    },
                                    {
                                        "id": 16,
                                        "module": "http:ActionSendData",
                                        "version": 3,
                                        "parameters": {
                                            "handleErrors": true,
                                            "useNewZLibDeCompress": true
                                        },
                                        "mapper": {
                                            "url": "https://api.instantly.ai/api/v1/unibox/emails/reply?api_key=2gbzCvWwmqHO3hmCCsR8TIcAUbfj8",
                                            "serializeUrl": false,
                                            "method": "get",
                                            "headers": [
                                                {
                                                    "name": "Content-Type",
                                                    "value": "application/json"
                                                }
                                            ],
                                            "qs": [],
                                            "bodyType": "raw",
                                            "parseResponse": false,
                                            "authUser": "",
                                            "authPass": "",
                                            "timeout": "",
                                            "shareCookies": false,
                                            "ca": "",
                                            "rejectUnauthorized": true,
                                            "followRedirect": true,
                                            "useQuerystring": false,
                                            "gzip": true,
                                            "useMtls": false,
                                            "contentType": "application/json",
                                            "data": "{\n  \"reply_to_uuid\": \"00000000-0000-0000-0000-000000000001\",\n  \"subject\": \"Re: Subject\",\n  \"from\": \"sender@example.com\",\n  \"to\": \"recipient@example.com\",\n  \"body\": \"Reply body\",\n}",
                                            "followAllRedirects": false
                                        },
                                        "metadata": {
                                            "designer": {
                                                "x": 1800,
                                                "y": 300,
                                                "name": "Reply to prospect"
                                            },
                                            "restore": {
                                                "expect": {
                                                    "method": {
                                                        "mode": "chose",
                                                        "label": "GET"
                                                    },
                                                    "headers": {
                                                        "mode": "chose",
                                                        "items": [
                                                            null
                                                        ]
                                                    },
                                                    "qs": {
                                                        "mode": "chose"
                                                    },
                                                    "bodyType": {
                                                        "label": "Raw"
                                                    },
                                                    "contentType": {
                                                        "label": "JSON (application/json)"
                                                    }
                                                }
                                            },
                                            "parameters": [
                                                {
                                                    "name": "handleErrors",
                                                    "type": "boolean",
                                                    "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                                    "required": true
                                                },
                                                {
                                                    "name": "useNewZLibDeCompress",
                                                    "type": "hidden"
                                                }
                                            ],
                                            "expect": [
                                                {
                                                    "name": "url",
                                                    "type": "url",
                                                    "label": "URL",
                                                    "required": true
                                                },
                                                {
                                                    "name": "serializeUrl",
                                                    "type": "boolean",
                                                    "label": "Serialize URL",
                                                    "required": true
                                                },
                                                {
                                                    "name": "method",
                                                    "type": "select",
                                                    "label": "Method",
                                                    "required": true,
                                                    "validate": {
                                                        "enum": [
                                                            "get",
                                                            "head",
                                                            "post",
                                                            "put",
                                                            "patch",
                                                            "delete",
                                                            "options"
                                                        ]
                                                    }
                                                },
                                                {
                                                    "name": "headers",
                                                    "type": "array",
                                                    "label": "Headers",
                                                    "spec": [
                                                        {
                                                            "name": "name",
                                                            "label": "Name",
                                                            "type": "text",
                                                            "required": true
                                                        },
                                                        {
                                                            "name": "value",
                                                            "label": "Value",
                                                            "type": "text"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "name": "qs",
                                                    "type": "array",
                                                    "label": "Query String",
                                                    "spec": [
                                                        {
                                                            "name": "name",
                                                            "label": "Name",
                                                            "type": "text",
                                                            "required": true
                                                        },
                                                        {
                                                            "name": "value",
                                                            "label": "Value",
                                                            "type": "text"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "name": "bodyType",
                                                    "type": "select",
                                                    "label": "Body type",
                                                    "validate": {
                                                        "enum": [
                                                            "raw",
                                                            "x_www_form_urlencoded",
                                                            "multipart_form_data"
                                                        ]
                                                    }
                                                },
                                                {
                                                    "name": "parseResponse",
                                                    "type": "boolean",
                                                    "label": "Parse response",
                                                    "required": true
                                                },
                                                {
                                                    "name": "authUser",
                                                    "type": "text",
                                                    "label": "User name"
                                                },
                                                {
                                                    "name": "authPass",
                                                    "type": "password",
                                                    "label": "Password"
                                                },
                                                {
                                                    "name": "timeout",
                                                    "type": "uinteger",
                                                    "label": "Timeout",
                                                    "validate": {
                                                        "max": 300,
                                                        "min": 1
                                                    }
                                                },
                                                {
                                                    "name": "shareCookies",
                                                    "type": "boolean",
                                                    "label": "Share cookies with other HTTP modules",
                                                    "required": true
                                                },
                                                {
                                                    "name": "ca",
                                                    "type": "cert",
                                                    "label": "Self-signed certificate"
                                                },
                                                {
                                                    "name": "rejectUnauthorized",
                                                    "type": "boolean",
                                                    "label": "Reject connections that are using unverified (self-signed) certificates",
                                                    "required": true
                                                },
                                                {
                                                    "name": "followRedirect",
                                                    "type": "boolean",
                                                    "label": "Follow redirect",
                                                    "required": true
                                                },
                                                {
                                                    "name": "useQuerystring",
                                                    "type": "boolean",
                                                    "label": "Disable serialization of multiple same query string keys as arrays",
                                                    "required": true
                                                },
                                                {
                                                    "name": "gzip",
                                                    "type": "boolean",
                                                    "label": "Request compressed content",
                                                    "required": true
                                                },
                                                {
                                                    "name": "useMtls",
                                                    "type": "boolean",
                                                    "label": "Use Mutual TLS",
                                                    "required": true
                                                },
                                                {
                                                    "name": "contentType",
                                                    "type": "select",
                                                    "label": "Content type",
                                                    "validate": {
                                                        "enum": [
                                                            "text/plain",
                                                            "application/json",
                                                            "application/xml",
                                                            "text/xml",
                                                            "text/html",
                                                            "custom"
                                                        ]
                                                    }
                                                },
                                                {
                                                    "name": "data",
                                                    "type": "buffer",
                                                    "label": "Request content"
                                                },
                                                {
                                                    "name": "followAllRedirects",
                                                    "type": "boolean",
                                                    "label": "Follow all redirect",
                                                    "required": true
                                                }
                                            ]
                                        }
                                    }
                                ]
                            }
                        ]
                    }
                ]
            ]
        },
        "zone": "us1.make.com"
    }
}