MCP_RBNB.json
{
  "name": "MCP RBNB",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -440,
        -80
      ],
      "id": "4538decf-7ee4-46ea-a683-f8e197b6f797",
      "name": "When chat message received",
      "webhookId": "27c2f870-7bb5-4063-81b1-9bc5cf77f923"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Tu es un assistant Ai qui aide à trouver des endroits sur rbnb. \n\nIl faut utiliser list tools d'abord puis execute tool après. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -200,
        -80
      ],
      "id": "79e2c9b3-a3ab-4227-89f2-aca2a2f5ad15",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -400,
        140
      ],
      "id": "766072c6-af54-49bd-b32e-1bc16402c58d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "OEzvOlpLyZ7M8nke",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        -80,
        140
      ],
      "id": "4d960799-15a7-437a-946e-3db9248fa69e",
      "name": "RBNB Tool",
      "credentials": {
        "mcpClientApi": {
          "id": "9tjugZPiScTjFTtw",
          "name": "MCP: RBNB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI('tool' ,'the selected tool to use') }}",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        60,
        140
      ],
      "id": "5ba24133-2dd7-4292-9afa-1bceae24331b",
      "name": "RBNB execute",
      "credentials": {
        "mcpClientApi": {
          "id": "9tjugZPiScTjFTtw",
          "name": "MCP: RBNB"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -220,
        140
      ],
      "id": "f44b7ebc-c256-4926-b76c-d85c01f1182f",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "RBNB Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "RBNB execute": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "db303edb-7892-472c-b033-ab74c318b507",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "377be5579fecc13fcc0965943613ca59016a18ab0251250d440595298cf62718"
  },
  "id": "rpcAzI7tmoeAqe38",
  "tags": []
}