redacted_workflow.json
{
  "name": "My workflow 23",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "REDACTED-WEBHOOK-ID",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "87b1fda0-18ba-454c-a2ee-bfcd0ba0a8de",
      "name": "Webhook",
      "webhookId": "REDACTED-WEBHOOK-ID"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REDACTED-GOOGLE-SHEET-ID",
          "mode": "list",
          "cachedResultName": "AI SMS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/REDACTED-GOOGLE-SHEET-ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "holding",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/REDACTED-GOOGLE-SHEET-ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Message": "={{ $json.body.Body }}",
            "From Number": "='{{ $json.body.From }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "From Number",
              "displayName": "From Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        160,
        0
      ],
      "id": "17e7fc3a-cd80-4603-9d4a-0ea585c16de5",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REDACTED-GOOGLE-CRED-ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        320,
        0
      ],
      "id": "49ce037e-ccf0-42e9-b130-01b610dd50d3",
      "name": "Wait",
      "webhookId": "REDACTED-WEBHOOK-ID-2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "REDACTED-GOOGLE-SHEET-ID",
          "mode": "list",
          "cachedResultName": "AI SMS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/REDACTED-GOOGLE-SHEET-ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "holding",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/REDACTED-GOOGLE-SHEET-ID/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "From Number",
              "lookupValue": "={{ $('Webhook').item.json.body.From }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        480,
        0
      ],
      "id": "0586e484-ab6c-4800-a37b-4091bb281668",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REDACTED-GOOGLE-CRED-ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Combine all Message values from the incoming items\nconst combinedMessage = items.map(item => item.json.Message).join(' ');\n\n// Get the start row number from the first item\nconst startRow = items[0].json.row_number;\n\n// Count how many rows (items) there are\nconst numberOfRows = items.length;\n\nreturn [\n  {\n    json: {\n      message: combinedMessage,\n      start_row: startRow,\n      number_of_rows: numberOfRows\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        0
      ],
      "id": "a569fe22-adf2-4537-815f-54c1b73e7c72",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "REDACTED-GOOGLE-SHEET-ID",
          "mode": "list",
          "cachedResultName": "AI SMS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/REDACTED-GOOGLE-SHEET-ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "holding",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/REDACTED-GOOGLE-SHEET-ID/edit#gid=0"
        },
        "startIndex": "={{ $json.start_row }}",
        "numberToDelete": "={{ $json.number_of_rows }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        780,
        0
      ],
      "id": "3140ec78-daf5-43c5-a945-9b2051442292",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REDACTED-GOOGLE-CRED-ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Code').item.json.message }}",
        "options": {
          "systemMessage": "You are a helpful SMS assistant for joolca.com\n\nAlways use the web_search tool for questions\nAlways include the URL in your response\n\nKeep your responses short and sweet, to a maximum of 160 characters"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1000,
        0
      ],
      "id": "17b91532-5eb3-4c82-9f76-480334d84a01",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        920,
        200
      ],
      "id": "c80941e2-ddbd-414f-bab2-f86b94370383",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "REDACTED-OPENAI-CRED-ID",
          "name": "openai-account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.From }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1100,
        200
      ],
      "id": "601336ad-b9a0-4506-b550-ec750a41ede5",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "REDACTED-POSTGRES-CRED-ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to search the web for questions about joolca",
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REDACTED-PERPLEXITY-API-KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JSON', `{\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Be precise and concise.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{web_search_question}\"\n    }\n  ],\n  \"search_domain_filter\": [\n    \"joolca.com\",\n    \"support.joolca.com\"\n  ]\n}`, 'json') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1260,
        220
      ],
      "id": "0b6ae32f-337e-4652-9db5-b3596e941d2e",
      "name": "web_search"
    },
    {
      "parameters": {
        "from": "=+1XXXXXXXXXX",
        "to": "={{ $('Webhook').item.json.body.From }}",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1360,
        0
      ],
      "id": "7dbbb765-5c0f-431b-94f4-a8d2ec24acfa",
      "name": "Twilio",
      "credentials": {
        "twilioApi": {
          "id": "REDACTED-TWILIO-CRED-ID",
          "name": "Twilio account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "web_search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Twilio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "REDACTED-VERSION-ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "REDACTED-INSTANCE-ID"
  },
  "id": "REDACTED-WORKFLOW-ID",
  "tags": []
}