Think_tool_Final (1).json
{
  "name": "Think tool Final",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}{{ $json.text }}",
        "options": {
          "systemMessage": "=You are a helpful assistant\n\nUtilise l'outil ''think'' pour les tàches complexe et pour vérifier si les étapes demandées sont bien respectées. \n\nLa date d'aujourd'hui est : {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        160,
        -80
      ],
      "id": "d3fe663b-8a1e-4133-aa02-65829b385e6a",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        700,
        320
      ],
      "id": "c9870090-636e-4037-8bbd-b4c086f32d7d",
      "name": "Think"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        60,
        240
      ],
      "id": "83bbc959-94b4-42ee-ae25-e4c052f84b1b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XKlmKEIGKvVs5kQy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        220,
        500
      ],
      "id": "6590fdb9-8624-432d-8179-f997ea034369",
      "name": "Gmail",
      "webhookId": "dd187e51-1960-4887-bd55-ba4d749c622e",
      "credentials": {
        "gmailOAuth2": {
          "id": "Xs0lL6l9FS6jPwrg",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        220,
        340
      ],
      "id": "90dcee70-98d3-47cb-94f1-7f65aa653bfc",
      "name": "Gmail1",
      "webhookId": "7594b1f5-7543-4e07-88c6-872ae8d43f76",
      "credentials": {
        "gmailOAuth2": {
          "id": "Xs0lL6l9FS6jPwrg",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        220,
        180
      ],
      "id": "e067652b-5239-42fa-832f-515834f7fd31",
      "name": "Gmail2",
      "webhookId": "033b8a24-1367-4e92-8771-a6e42995c3ba",
      "credentials": {
        "gmailOAuth2": {
          "id": "Xs0lL6l9FS6jPwrg",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "almo9awil.2021@gmail.com",
          "mode": "list",
          "cachedResultName": "Reservation Medcin 1"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        460,
        180
      ],
      "id": "4a4c6409-9c7e-48b4-8b7f-377840049710",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8qLdeHmY3YKvnck2",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "almo9awil.2021@gmail.com",
          "mode": "list",
          "cachedResultName": "Reservation Medcin 1"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        460,
        340
      ],
      "id": "74a45ea1-f17c-4f95-8604-f4c1dc186ffc",
      "name": "Google Calendar1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8qLdeHmY3YKvnck2",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "almo9awil.2021@gmail.com",
          "mode": "list",
          "cachedResultName": "Reservation Medcin 1"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        460,
        500
      ],
      "id": "d1166f4d-64d9-4a9e-b180-9db7cb9b0ab0",
      "name": "Google Calendar2",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8qLdeHmY3YKvnck2",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -760,
        -60
      ],
      "id": "cfe28acd-8bfc-4e46-a0ea-32ca9cac5043",
      "name": "Telegram Trigger",
      "webhookId": "ab930f8b-d460-4973-8d35-4f4f84edc38b",
      "credentials": {
        "telegramApi": {
          "id": "l8LESN11wev2QG0L",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "70a2972b-0da7-4037-ae3a-9021547a2d56"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8b3d689f-5896-4882-86dc-cb0febd61076",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voix"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -540,
        -60
      ],
      "id": "7c21e8c2-757d-4ba0-851d-af5f49b66d33",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -300,
        100
      ],
      "id": "009711c4-ac87-41b9-8e6d-4c5c6aa5664d",
      "name": "Telegram",
      "webhookId": "9cbbd4e0-f7f5-44f2-b803-5067f82bb3f0",
      "credentials": {
        "telegramApi": {
          "id": "l8LESN11wev2QG0L",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -100,
        100
      ],
      "id": "0a527c44-5952-4ba7-9159-04b3a55ea6e6",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "XKlmKEIGKvVs5kQy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Switch').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        540,
        -80
      ],
      "id": "ce601c20-862b-4132-a4e1-b01e70fccfa9",
      "name": "Telegram1",
      "webhookId": "8dd78045-92e7-40ee-8ee4-479a533c042f",
      "credentials": {
        "telegramApi": {
          "id": "l8LESN11wev2QG0L",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8c1b01e5-98bc-430e-bbb0-e2b64955f885",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5dc8b43aa4a9ab59f100c1c9faf499443c7c843111e6851bf020be9cc08ba534"
  },
  "id": "CHsRYA1arO7S6Ako",
  "tags": []
}