Voice_Enabled_Chatbot__Raw_Data.json
{
  "name": "Voice-Enabled AI chatbot (Raw Data)",
  "nodes": [
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -100,
        -180
      ],
      "id": "27518777-1bbe-4dfe-afd6-fd5c3e8e70a2",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "files",
        "options": {
          "includeBinary": true
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -340,
        -180
      ],
      "id": "4a7f9d71-5bed-4f00-8cec-5f47342fb8b4",
      "name": "Split Out1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const files = $input.all().at(0)?.binary\nconst isfilesSent = typeof files === 'object' && Object.keys(files)?.length\n\nif(isfilesSent){\n  return { files }\n}\n\nreturn $input.all()"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -540,
        -180
      ],
      "id": "2fd013cb-3174-4829-986c-d32d401ee70b",
      "name": "Code1"
    },
    {
      "parameters": {
        "promptType": "=define",
        "text": "={{ $('Webhook').item.json.body.chatInput || $('HTTP Request').item.json.text }}",
        "options": {
          "systemMessage": "You are a helpful assistant answering user questions in a polite manner."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        780,
        0
      ],
      "id": "2015d2f3-112c-4927-a4fe-23a42d105780",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        720,
        200
      ],
      "id": "c4d0814a-2261-4ae1-97e3-5d597aff7cd8",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "rzktJ7VtXs7v2V7H",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "75f9795e-cacd-4107-8a2b-104e69ea91c5",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "audio/",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        160,
        -160
      ],
      "id": "b9e55f37-2a8b-42a8-b963-45f56ade8900",
      "name": "Switch1"
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        100,
        -400
      ],
      "id": "ec90f40f-9f2e-46cc-939d-5a095bca1c0c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/speech-to-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "sk_a6110c79fbad7daeb89ff1cb58386e1b1e443877c487"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model_id",
              "value": "scribe_v1"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "upload"
            },
            {
              "name": "language_code",
              "value": "en"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        -380
      ],
      "id": "40885217-b76e-4879-8440-e825e262dbd1",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        340,
        -380
      ],
      "id": "1d39e6a7-92ff-4100-8f88-8940d87e8ab7",
      "name": "Merge"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "voice-enabled-chat-raw",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -740,
        -180
      ],
      "id": "97481c7a-bb46-493e-be80-3e5ed8d4333b",
      "name": "Webhook",
      "webhookId": "deb27561-2e77-4906-8bc6-e152ddff3886"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"output\": \"{{ $('AI Agent1').item.json.output }}\",\n  \"attachments\": [{ \"type\": \"data_url\", \"data\": \"data:{{ $json.files.data.mimeType }};base64,{{ $json.files.data.data }}\", \"mimeType\": \"{{ $json.files.data.mimeType }}\", \"autoPlayAudio\": true}]\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1600,
        0
      ],
      "id": "63a18764-9e76-41f3-86d8-8f453c47d20d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst files = $input.all().at(0)?.binary\nreturn {files};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        0
      ],
      "id": "868d3ac4-520b-4008-8013-8d0eafe408bf",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/JBFqnCBsd6RMkjVDRZzb",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "output_format",
              "value": "mp3_44100_128"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "sk_a6110c79fbad7daeb89ff1cb386e75a31b1e443877c487"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.output }}"
            },
            {
              "name": "model_id",
              "value": "eleven_multilingual_v2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1160,
        0
      ],
      "id": "aea29040-afb1-427b-a976-42a66389affa",
      "name": "ElevenLabs(TTS)"
    },
    {
      "parameters": {
        "content": "## Approach - 1 \n\nSend raw base64 audio data in the response\n\nWatch this video to learn how to setup: https://youtu.be/rcN7SfWCTwo",
        "height": 180,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -740,
        -440
      ],
      "id": "dec76ad9-6afe-4538-a762-e255c3351c4a",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "ElevenLabs(TTS)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ElevenLabs(TTS)": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e77350f0-c977-4e27-b9dd-4770a61d736f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "89214beb80023fb6dd965ca995aa39ab8b01230f6dfebee590e804967a519975"
  },
  "id": "815On4P2xmKJIwRk",
  "tags": []
}